<div class="main-container">
    <header class="header-6">
      <div class="branding">
        <a class="nav-link">
          <clr-icon shape="home" size="24"></clr-icon>
          <span class="title">MetLife</span>
        </a>
      </div>
      <div class="header-nav">
        <a class="active nav-link nav-text">Inicio</a>
        <a class="nav-link nav-text">Administración</a>
      </div>
    </header>
  
 
  <div class="content-container">
      <div class="content-area">
        <!--<img src="assets/imagenes/logo2.png">-->
        <router-outlet></router-outlet>
    <router-outlet name="./"></router-outlet>
    <router-outlet name="catalogo"></router-outlet>
    <router-outlet name="otros"></router-outlet>
      
      </div> <!-- Termina content-area -->
        

      <clr-vertical-nav>

        <a clrVerticalNavLink routerLink="./"   skipLocationChange routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
            Consultas
        </a>
        <a clrVerticalNavLink routerLink="./catalogo" skipLocationChange  routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="bolt"></clr-icon>
            Catálogo
        </a>
        <a clrVerticalNavLink routerLink="./otros"   skipLocationChange routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="library"></clr-icon>
            Otros
        </a>
        <a clrVerticalNavLink routerLink="/inicio" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="logout"></clr-icon>
            Salir
        </a>
        
    </clr-vertical-nav>
  </div>
</div>