<div class="main-container">
    <header class="header-6">
      <div class="branding">
        <a class="nav-link">
          <clr-icon shape="home" size="24"></clr-icon>
          <span class="title">MetLife</span>
        </a>
      </div>
      <div class="header-nav">
        <a class="active nav-link nav-text">Inicio</a>
        <a class="nav-link nav-text">Administración</a>
      </div>
    </header>
  
 
  <div class="content-container">
      <div class="content-area">
        <!--<img src="assets/imagenes/logo2.png">-->
       
         <app-consula></app-consula>
      </div> <!-- Termina content-area -->
        

      <clr-vertical-nav>

        <a clrVerticalNavLink routerLink="./normal" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
            Consultas
        </a>
        <a clrVerticalNavLink routerLink="./electric" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="bolt"></clr-icon>
            Excedentes
        </a>
        <a clrVerticalNavLink routerLink="./poison" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="note"></clr-icon>
            Otros
        </a>
        
    </clr-vertical-nav>
  </div>
</div>